* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.7vw;
}
body {
    display: flex;
    justify-content: center;
    padding: 0px;
    border: 0px;
    margin: 0px;
}
canvas {
    width: min(40vw, 80vh);
    height: min(40vw, 80vh);
}
.parameterInput {
    width: 4.5vw;
}
.treatmentDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1vw;
}
#controlsDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1vw;
    gap: 1vh;
    width: 20vw;
}
#simulateButton {
    background-color: rgb(0,255,0);
    width: 10vw;
}